@import './base.css';

html, body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

#app {
  width: 100vw;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.form_container {
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.form_close {
  position: fixed;
  top: 20px;
  right: 20px;
  
  font-size: large;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
} */
